*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
.complete-body{
    /* background-color: aqua; */
    height: auto;
    width: 100%;
}
.container1{
    /* background-color: aqua; */
    height: 80px;
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid black; */
    box-shadow: 0px 0px 0.5px black;
    width: 100%;
}
.container-width{
    /* background-color: orange; */
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.dynamix{
    font-size: 55px;
    font-weight: 900;
    margin: 5px;
    margin-left: 60px;
}
/* nav-bar */
nav{
    /* background-color: chocolate; */
    width: 100%;
}
.nav{
    /* background-color: crimson; */
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 40px;
}
.navigation{
    /* background-color: darkblue; */
    padding: 7px;
    margin-left: 5px;
}
.navigation a{
    color: black;
    font-weight: 900;
}
.navigation a:hover{
    border-bottom: 1.5px solid black;
}

/* right-corner icons */
.logout{
    /* background-color:blueviolet; */
    display: flex;
    width: 18%;
}
.logout-btn{
    /* background-color: chartreuse; */
    height: 45px;
    padding: 6px 14px;
    font-size: 18px;
    font-weight: 600;
    color: #0288D1;
    background-color: white;
    border: none;
    border-radius: 4px;
    margin-top: 18px;
    margin-left: 20px;
    cursor: pointer;
}
.profile-img{
    /* background-color: aqua; */
    height: 45px;
    margin-top: 18px;
    cursor: pointer;
}
/* starting of banner */

/* banner - 2 */
.banner-2{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.container-3{
    /* background-color: orange; */
    width: 82%;
    display: flex;

}
.heading-3{
    font-size: 50px;
    padding: 10px;
    margin-left: 20px;
     
}
.heading-3:hover{
    border-bottom:1px solid black ;
}
.para-2{
    font-size:30px;
    width:80%;
    margin-left:30px;
    margin-top: 30px;
    font-weight: 600;
}
.exp{
    padding: 10px 20px;
    font-family: 'Segoe UI';
    letter-spacing: 0.8px;
    font-size: 20px;
    color: #0288D1;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 30px;
    cursor: pointer;
}
.img2{
    margin: 10px;
}
.text{
    /* background-color: grey; */
    padding-top:60px ;
}

/* banner-3 */
.banner-3{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.container-4{
    /* background-color: greenyellow; */
    width: 90%;
    display: flex;
}
.img3{
    margin: 10px;
}
.heading-4{
    font-size: 50px;
    padding: 10px;
    margin-left: 25px;
}

.heading-4:hover{
    border-bottom:1px solid black ;
}
.para-3{
    font-size: 30px;
    /* width: 70%; */
    margin-top: 30px;
    margin-left: 35px;
    margin-bottom: 60px;
    font-weight: 600;
}
.text-3{
    margin-left: 40px;
    margin-top: 70px;
}

/* shubham */
#Container{
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
#Container h1{
    text-align: center;
}

.outer {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
  }
.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Lesson{
font-size: 50px;
}
#imgcon{
    transition: transform .4s ease-in;
}
.Slides{
    width: 365px;
    height: 370px;
    padding: 45px;
}

.imageContainer p{
    position: relative;
    left: 45px;
    bottom: 99px;
    text-align: center;
    padding: 15px;
    width: 275px;
    height: 49px;
    background-color: white;
    border: 2px solid lightgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 800;
}


#swipeLeft{
    padding: 25px;
    width: 40px;
    height: 80px;
    position: relative;
    top: 14rem;
    right: 42rem;
    /* display: none; */
}

#swipeRight{
    padding: 25px;
    width: 40px;
    height: 80px;
    position: relative;
    bottom: 16.5rem;
    left: 42rem;
    /* display: none; */
}


.reviewSection{
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.review{
    padding: 30px;
    margin: 30px;
    width: 500px;
    height: 200px;
    border-radius: 20px;
    box-shadow: -1px 1px 2px gray;
    background-color:rgba(129, 122, 122, 0.11);
    border-radius: 10px;
    padding: 15px;
}

.profilePhoto{
    width: 50px;
    height: 40px;
    margin-bottom: 15px;
}

#heading{
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    bottom: 30px;
}

.review h3{
    text-decoration: underline;
}

.review h4{
    margin-bottom: 10px;
}
.bottom-heading{
    font-size: 50px;
}


/* chanchal */
/* footer */
footer{
    background-color: rgb(14, 13, 13);
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.foot{
    /* background-color: grey; */
    width: 65%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center  ;
   text-align: center;
}
.contact{
    /* background-color: yellowgreen; */
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 10px;
}
.contact-text{
    /* background-color: aquamarine; */
    font-weight: 500;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 5px;
    color: white;
}

.fas,.far{
    /* background-color: blue; */
    font-size: 18px;
    color: white;
    padding: 5px;
    font-weight: 200;
}
.fab{
    font-size: 20px;
    color: white;
    padding: 10px;
}
.social-media{
    margin: 10px;
}