*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/*POPUP SIGNIN FORM (shubham)*/
#btn-login{
    height: 27px;
    position: absolute;
    right: 90px;
    margin-top: 10px;
    border-radius: 7px;
    padding: 4px;
    background-color: limegreen;
    color: white;
    width: 58px;
    border: none;
}
#btn-signin{
    height: 27px;
    position: absolute;
    right: 20px;
    margin-top: 10px;
    border-radius: 7px;
    padding: 4px;
    background-color: limegreen;
    color: white;
    width: 58px;
    border: none;
}

#btn:hover{
    cursor: pointer;
}

/* .form_container{
    display: none;
    margin-top: 31px;
    align-items: center;
    justify-content: center;
} */

#signin_form{
    width: 583px;
    height: 296px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px 0px #888888, 0px 0px 3px 3px #888888;
    position: relative;
    left: 33%;
    bottom: 303px;
    z-index: 1;
    background-color: white;
}

#signin_form h2{
    padding: 18px;
    text-align: center;
}

hr{
    background-color: lightgray;
    width: 94%;
    margin-left: 10px;
}

.signin{
    display: flex;
    flex-direction: column;
}

.inputBox{
    margin-left: 10px;
    margin-top: 21px;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 94%;
    display: flex;
}

.inputBox img{
    width: 32px;
    background-color: lightgray;
}

input[type="email"], [type="password"]{
    width: 100%;
    border: none;
    padding-left: 20px;
    padding-top: 2px;
}

.inputBox{
    margin-left: 10px;
    margin-top: 21px;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 94%;
    display: flex;
}

.inputBox img{
    width: 32px;
    background-color: lightgray;
}

#btn2{
    height: 27px;
    border-radius: 7px;
    padding: 4px;
    background-color: limegreen;
    color: white;
    width: 58px;
    border: none;
    margin-left: 10px;
    margin-top: 21px;
    margin-bottom: 21px;
}

#close{
    width: 58px;
    height: 27px;
    border-radius: 7px;
    padding: 4px;
    border: 2px solid lightgray;
    background-color: white;
    margin-top: 11px;
    margin-left: 31.5rem;
}

#close:hover{
    cursor: pointer;
}

.complete-body{
    /* background-color: aqua; */
    height: auto;
    width: 100%;
    position: absolute;
    top: 1px;
}
.container1{
    /* background-color: aqua; */
    height: 80px;
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid black; */
    box-shadow: 0px 0px 0.5px black;
    width: 100%;
}
.container-width{
    /* background-color: orange; */
    height: 80px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    
}
.dynamix{
    font-size: 55px;
    font-weight: 900;
    margin: 5px;
}
.main{
    margin: 15px 20px;
}
.main-button{
    padding: 7px 18px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    margin: 5px;
    /* background-color: #14c514; */
    /* color: white; */
    background-color:#5cb85c ;
    color: white;
    cursor: pointer;
}

/* starting of banner */
.banner{
    display: flex;
    justify-content: center;
}
.container2{
    margin-top: 0px;
    width: 100%;
    /* background-color: brown; */
}

/* main heading */
.heading{
    display: flex;
    justify-content: center;
}
.heading-1{
    font-size: 30px;
    /* font-family:'Roboto', sans-serif; */
    font-family: 'Satisfy', cursive;
    word-wrap: normal;
    font-weight: lighter;
    word-spacing: 8px;
    padding: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px grey;
    /* background-color: yellow; */
}
.text1{
    display: flex;
    /* background-color: violet; */
}
.text-2{
    /* background-color: greenyellow; */
    padding-left: 5px;
    margin-top: 40px;
}
.img1{
    padding: 10px;
}
.heading-2{
    font-size: 50px;
    margin: 5px 10px;
    font-weight: bold;
    /* margin-left: 40px; */
    margin-bottom: 15px;
    width: 90%;
}
.heading-2:hover{
    border-bottom:1px solid black ;
}
.para-1{
    font-size: 30px;
    padding-left: 10px;
    width: 80%;
    margin-left: 30px;
    font-weight: 600;
}
.buttons{
    margin-top: 30px;
    margin-left: 35px;
}
.account{
    padding: 10px 25px;
    background-color: #14c514;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
}

.skip{
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    letter-spacing: 1px;
    color: #0288D1;
    font-weight:600;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 35px;
}

/* banner - 2 */
.banner-2{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.container-3{
    /* background-color: orange; */
    width: 82%;
    display: flex;

}
.heading-3{
    font-size: 50px;
    padding: 10px;
    margin-left: 20px;
     
}
.heading-3:hover{
    border-bottom:1px solid black ;
}
.para-2{
    font-size:30px;
    width:80%;
    margin-left:30px;
    margin-top: 30px;
    font-weight: 600;
}
.exp{
    padding: 10px 20px;
    font-family: 'Segoe UI';
    letter-spacing: 0.8px;
    font-size: 20px;
    color: #0288D1;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 30px;
    cursor: pointer;
}
.img2{
    margin: 10px;
}
.text{
    /* background-color: grey; */
    padding-top:60px ;
}

/* banner-3 */
.banner-3{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.container-4{
    /* background-color: greenyellow; */
    width: 90%;
    display: flex;
}
.img3{
    margin: 10px;
}
.heading-4{
    font-size: 50px;
    padding: 10px;
    margin-left: 25px;
}

.heading-4:hover{
    border-bottom:1px solid black ;
}
.para-3{
    font-size: 30px;
    /* width: 70%; */
    margin-top: 30px;
    margin-left: 35px;
    margin-bottom: 60px;
    font-weight: 600;
}
.text-3{
    margin-left: 40px;
    margin-top: 70px;
}

/* shubham */
#Container{
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
#Container h1{
    text-align: center;
}

.outer {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
  }
.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Lesson{
font-size: 50px;
}
#imgcon{
    transition: transform .4s ease-in;
}
.Slides{
    width: 365px;
    height: 370px;
    padding: 45px;
}

.imageContainer p{
    position: relative;
    left: 45px;
    bottom: 99px;
    text-align: center;
    padding: 15px;
    width: 275px;
    height: 49px;
    background-color: white;
    border: 2px solid lightgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 800;
}


#swipeLeft{
    padding: 25px;
    width: 40px;
    height: 80px;
    position: relative;
    top: 14rem;
    right: 42rem;
    /* display: none; */
}

#swipeRight{
    padding: 25px;
    width: 40px;
    height: 80px;
    position: relative;
    bottom: 16.5rem;
    left: 42rem;
    /* display: none; */
}


.reviewSection{
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.review{
    padding: 30px;
    margin: 30px;
    width: 500px;
    height: 200px;
    border-radius: 20px;
    box-shadow: -1px 1px 2px gray;
    background-color:rgba(129, 122, 122, 0.11);
    border-radius: 10px;
    padding: 15px;
}

.profilePhoto{
    width: 50px;
    height: 40px;
    margin-bottom: 15px;
}

#heading{
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    bottom: 30px;
}

.review h3{
    text-decoration:underline;
    text-decoration-thickness: 1.8px;
}

.review h4{
    margin-bottom: 10px;
}
.bottom-heading{
    font-size: 50px;
}

/* chanchal */
/* footer */
footer{
    background-color: rgb(14, 13, 13);
    height: auto;
    width: 100%;
    flex-direction: row;
    margin-top: 30px;
}
.foot{
    /* background-color: grey; */
    width: 65%;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: center  ; */
   text-align: center;
   margin: 0 auto;
}
.contact{
    /* background-color: yellowgreen; */
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 10px;
}
.contact-text{
    /* background-color: aquamarine; */
    font-weight: 500;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 5px;
    color: white;
}

.fas,.far{
    /* background-color: blue; */
    font-size: 18px;
    color: white;
    padding: 5px;
    font-weight: 200;
}
.fab{
    font-size: 20px;
    color: white;
    padding: 10px;
}
.social-media{
    margin: 10px;
}